.about-main-container {
  background-color: rgb(15, 35, 54);
  min-height: 100vh;

  margin: 0;
}

.about-details-container {
  background-color: red;
  min-height: 90vh;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .about-main-container {
    display: flex;
  }
  .about-sidebar-container {
    width: 22%;
  }
}
